<!-- <p style="color :yellowgreen">WEB ads</p> -->
<div class="col-md-11 maindiv">
    <div>
        <div class=" row -md-10 ads">
        <h6>Build your carreer today!</h6>
        <div id="image"><img src="assets/check.png" alt="ads" height="40" width="40" ></div>
        <h6 >Get &nbsp;<span style="color: yellow;">Lifelong</span></h6>
        <h6 >access to all our &nbsp; <span style="color: yellow;">courses</span></h6>
        <h6 >and&nbsp;<span style="color: yellow;">certification</span></h6>

        <div class="col-md-8 btn">
            Get Full Access
        </div>
    </div>
    </div>


</div>
