

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" style="background-color: rgb(213, 173, 159);">
    <a class="navbar-brand" href="#">Chatify1</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
   
    <div>
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <div class="image-container"> <img src="../../favicon.ico" alt="Bootstrap" width="30" height="24">
              </div>
      
      
      
      
      
              <a class="navbar-brand" href="#">WEB DEVELOPMENT</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLinkActive]="'active'" routerLink="navbar/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="navbar/form">Form</a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/formreactive" >Message</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/formreactive" >Cart</a>
                  </li>
                  
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
         </div>
        </div>
       
      
      </div>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 150px;">
        <!-- <li class="nav-item">
          <a class="nav-link active" id="active" aria-current="page" href="#" routerLink="/navbar/form">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/navbar/form">Form</a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown">
            Link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
        
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Link</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>


    




      <div class="row col-12">
        <div class="col-2">
          <app-ads></app-ads>
          <app-ads></app-ads>
        </div>
      
        <div class="col-8">
     
          
              <router-outlet></router-outlet>
             
        </div>
        <div class="col-2">
          <app-ads></app-ads>
          <app-ads></app-ads>



        </div>
      
      </div>
    



 
  
