<!-- <p>login works!</p>
<button type="button" class="btn btn-primary" routerLink="/navbar">Primary</button> -->
<div class="row">

    <div class="col-md-6 image">
        <img src="assets/image.png" alt="image" height="500px" width="500px">


    </div>
    <div class="col-md-6 loginmain">
       <div class="col-md-6 centerdiv">
        <h1 class="form-label">login</h1>
        <div class="col-md-12">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="col-md-12">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
        </div>
        <div id="forgot-pass" className="">
            <p >Forgot Password?</p>
        </div>
        <div class="col-md-12 button" routerLink="/navbar">
            <p class="btn-text">Login</p>

        </div>
       </div>


    </div>
</div>